.CartItem {
    display: flex;
    padding-bottom: 12px; 
    padding-top: 12px;
    border-bottom: 1px solid #DDD;
}

.CartItem-image {
    display: flex;
    height: 180px;
    width: 180px;    
}

.CartItem-image img {
    object-fit: contain;
    width: 100%;
}

.CartItem-info {
    margin-left: 18px;
    flex-grow: 1;
}

.info-title h2 {
    margin: 0;
    font-size: 18px;
    color: #007185;
}

.info-stock {
    color: #007600;
    margin-top: 4px;
}

select {
    background-color: #F0F2F2;
    padding: 8px;
    border-radius: 7px;
    box-shadow: 0px 2px 5px 0 rgba(15, 17, 17, 0.15);
}

select:focus {
    outline: none;
}

.CartItem-price {
    font-size: 18px;
    font-weight: 700;
}

.item-actions {
    margin-top: 4px;
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
}

.item-delete {
    color: #007185;
}

.item-delete:hover {
    text-decoration: underline;
    cursor: pointer;
}

.items-actions-divider {
    margin-left: 8px;
    margin-right: 8px;
    color: #DDDDDD;
    font-weight: bold;
}

